@import "../../../vars";
:host {
    border-radius: $radius;
    padding: 1rem;
    box-shadow: $shadow-dark;
    display: block;
    background: linear-gradient(rgb(107, 72, 114), rgb(100, 137, 177));
    .grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-gap: 1rem;
    }
    label {
        display: block;
        margin-bottom: 0.3rem;
    }
    input {
        display: block;
        width: 100%;
        border-radius: $radius;
        border: none;
        padding: 0.3rem 0.5rem;
        box-shadow: 0 0 0 3px rgba($primary, 0.2);
        &.ng-invalid.ng-touched {
            box-shadow: 0 0 0 3px rgba(red, 0.2);
        }
    }
    .form-group {
        margin-bottom: 1rem;
        p {
            color: rgb(100, 137, 177);
            font-size: 11px;
            position: absolute;
            margin-top: 0.3rem;
        }
    }
    img {
        max-height: 150px;
        &:hover {
            cursor: pointer;
        }
    }
    input[type="file"] {
        display: none;
    }
    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media (max-width: 375px) {
    .grid {
        width: 100%;
        display: none;
    }
}