@import "../../vars";
:host {
    background: linear-gradient(rgb(107, 72, 114), rgb(100, 137, 177));
    min-height: calc(100vh - 57.6px);
    display: grid;
    place-items: center;
    form {
        box-shadow: $shadow-dark;
        padding: 1rem;
        border-radius: $radius;
        background-color: #fff;
        width: 400px;
    }
    label {
        display: block;
        margin: 0.5rem 0;
    }
    input {
        padding: 0.3rem 0.5rem;
        border: none;
        border-radius: $radius;
        box-shadow: 0 0 0 3px rgba($primary, 0.2);
        width: 100%;
    }
    .form-group {
        margin-bottom: 1rem;
        p {
            color: rgb(100, 137, 177);
            font-size: 11px;
            position: absolute;
            margin-top: 0.3rem;
        }
    }
}