:host {
    display: block;
    padding: 1rem 8vw;
    background-color: rgb(33, 32, 32);
    color: white;
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }
    p {
        line-height: 2rem;
    }
    img {
        width: 100%;
    }
    app-button:first-of-type {
        margin-right: 0.5rem;
    }
}

@media (max-width: 375px) {
     :host {
        .grid {
            display: flex;
            flex-direction: column;
        }
        .div {
            display: flex;
            justify-content: center;
        }
    }
}
