<ng-container *ngIf="band">
    <p>{{ band.name }}</p>
    <div class="grid">
        <img [src]="band.img ? imageUrl + band.img : defaultImage" [alt]="band.name">
        <div class="content">
            <p>{{ band.description }}</p>
        </div>
    </div>
    <div class="div">
        <app-button (click)="updateBand()">Update</app-button>
        <app-button (click)="deleteBand()">Delete</app-button>
    </div>
</ng-container>

<ng-container *ngFor="let song of songs">
    <p>{{ song.name }}</p>
    <div class="grid">
        <!-- <img [src]="band.img ? imageUrl + band.img : defaultImage" [alt]="band.name">
        <div class="content">
            <p>{{ band.description }}</p>
        </div> -->
    </div>

</ng-container>